CRAWLLMER_DB_URL=sqlite:///./crawllmer.db
CRAWLLMER_WORKER_POLL_SECONDS=2
CRAWLLMER_CELERY_BROKER_URL=sqla+sqlite:///./celery-broker.db
CRAWLLMER_CELERY_RESULT_BACKEND=db+sqlite:///./celery-results.db
